body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* background-color:whitesmoke; */
    background-color:#f9efef;
}

/* navbar logo search tabs styles */

nav {
    /* background-color:rgb(31, 27, 57); */
    padding: 0.8rem 3vw;
    /* color: whitesmoke; */
    display: flex;
    flex-direction: column;
}

.nav-box a {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.top-line{
    justify-content: space-between;
}

.nav-Bottom a{
    /* background-color: royalblue; */
    margin: 1rem 2vw 1rem 0rem;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar{
    background-color: white;
    border-radius: 6px;
    /* background-color:#eeeeee; */
    border: 1.2px solid #eee;
}

.search-bar img {
    margin: 0px 2px 1px 8px;
}

.search-bar input {
    
    border: 0px;
    color: #808080;
    width: 35vw;
    height: 2.4rem;
    padding: 0px 0.3rem; 
    border-radius: 6px;
    background-color:#eeeeee00;
}

#logo{
    width: 13rem;
}

#signupBtn {
    margin: 0px 1.2rem;
}

#user-icon {
    width: 12px;
    height: fit-content;
    margin: 0px 3px;
}

#cart-icon {
    width: 15px;
    height: fit-content;
    margin: 0px 6px;
}

.menu-box {
    display: none;
}

#floating-nav{
    display: none;
}

/* home page main class */
.main-home {
    background-color: transparent;
}

/* banners styles */
.main-home section {
    margin: 0vh 3vw;
    /* display: flex;
    overflow: scroll; */
}

.main-home section img {
    width: 93vw;
    height: 75vh;
    object-fit: cover;
    object-position: 0rem -7.2rem;
}

/* offers styles */
.main-home offer {
    margin: 0vh 3vw 2vh 3vw;

}

#offer-h4 hr {
    width: 16vw;
    height: 1px;
    background-color: #808080;
}

#offer-h4 {
    /* margin-left: 3vw; */
    margin: 2rem 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-home offer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.main-home offer img {
    width: 45vw;
    /* height: 39vh; */
    height: 20vw;
    object-fit: fill;
}

/* boards styles */
.board{
    margin: 0.2rem 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0vw;
}

board img {
    width: 29vw;
    height: 40vw;
    object-fit: center;

}

.board #hr {
    width: 18vw;
    height: 1.8px;
    background-color: #808080;
}

.board h4 {
    margin: 2rem 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.board-row{
    background-color: #333edd;

}


/* products styles */

#main-product {
    background-color: #f9efef;
    /* background-color: #333; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 2rem 4rem 3rem;
}

#side-bar {
    width: 19%;
    background-color: #f4e1e3;
}
#side-bar ul {
    margin-left: -1rem;
}
#side-bar ul li {
    list-style: none;
    margin: 6px 0px;
    accent-color: #000;
}

#side-bar ul select {
    border: 1px solid #555;
    padding: 3px 4px;
    font-size: medium;
    border-radius: 5px;
    color: #333;
    font-weight: 600;
    background-color: rgb(227, 193, 190);
}

/* #product-box{
} */

#main-product pBox {
    /* background-color: palevioletred; */
    /* margin: 0rem auto; */
    /* padding: 4rem; */
    padding-bottom: 0rem;
    width: 76%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    gap: 2rem 5%;
}

/* temp box-card styling */
.card {
    /* background-color: #fffafa; */
    /* box-shadow: 0.2px 0.2px 3px #cccccca7; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card #detail {
    padding: 0rem 0rem;
}

#detail h5 {
    margin: 10px 0px -24px 0px;
}
#detail p:last-child {
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    color: #666;
    margin: -20px 0px 8px 0px;
}

#product-box .card #pimg {
    /* width: 14rem; */
    width: 20vw; /* change only grid columns */
    height: 24vw;
    object-fit: cover;
}

.card .row {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card .row #star {
    width: 14px;
    height: 14px;
    margin-left: -5px
    /* background-color: #333; */
}


/* media queries */

@media (width > 820){
    /*  */
    
}

@media (width <= 820px) {
    body{
        background-color: floralwhite;
    }

    .search-bar input {
        width: 15vw
    }

    .menu-box {
        display: none;
    }

    /* board styles */
    .main-home section img {
        width: 92vw;
        height: 48vh;
        object-fit: cover;
        object-position: 0rem -3.8rem;
    }

    /* offer styles */
    .main-home offer {
        display: flex;
        flex-direction: column;
        margin-bottom: -2rem;
    }
    
    .main-home offer img {
        width: 92vw;
        height: 37vw;
        object-fit: fill;
        margin-bottom : 2rem;
    }
    
}

@media (width < 600px) {
    body{
        background-color: #f9efef;
    }

    .top-line {
        display: none;
    }

    .nav-Bottom {
        display: none;
    }

    .menu-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 1.6rem;
    }
    
    .menu-box img {
        width: 10rem;
    }
    
    #menu {
        background-color: transparent;
        border: 0px;
        font-size: large;
        font-weight: bold;
        display: flex;
        padding: 0.4rem 0.6rem;
        align-items: center;
    }
    
    #menu img{
        width: 24px
    }
    
    #floating-nav {
        display: block;
        position: absolute;
        z-index: 2;
        left: 0px;
        right: 0px;
        top: 3.8rem;
        background-color: #e8d8d8ee;
        padding: 1rem 2rem;
    }

    #floating-nav input {
        width: 45vw
    }

    .categories  {
        display: flex;
        flex-direction: column;
        font-size: medium;
        line-height: 1.6rem;
    }

    .categories h4{
        margin-bottom: 0.4rem;
    }

    .categories a {
        color: #333; 
        text-decoration: none;
    }

    #signup{
        margin-top: 1rem
    }


    


}

/* footer styles */

.belleza-footer {
    background-color: #f8f8f8;
    padding: 40px 4rem 14px 4rem;
    font-family: 'Arial', sans-serif;
    color: #555;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.footer-section {
    flex: 1 1 22%;
    margin: 10px;
    margin-top: -20px;
    margin-left: 16px;
    text-align: center;
}
  
.footer-section h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    /* text-align: left; */
}
  
.footer-section ul {
    list-style: none;
    padding: 0;
    /* text-align: left; */
}
  
.footer-section ul li {
    margin-bottom: 8px;
}
  
.footer-section ul li a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s;
}
  
.footer-section ul li a:hover {
    color: #ce6898;
}
  
.social-icons a {
    margin-right: 10px;
    display: inline-block;
}
  
.social-icons img {
    width: 24px;
    height: 24px;
}

.payment img {
    width: 28px;
    height: 24px;
    margin: 0px 5px
}
  
.footer-bottom {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 12px;
    font-size: 14px;
    color: #777;
}
  