body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* background-color:whitesmoke; */
    background-color:#f9efef;
}

/* navbar logo search tabs styles */

nav {
    /* background-color:rgb(31, 27, 57); */
    padding: 0.8rem 3vw;
    /* color: whitesmoke; */
    display: flex;
    flex-direction: column;
}

.nav-box a {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.top-line{
    justify-content: space-between;
}

.nav-Bottom a{
    /* background-color: royalblue; */
    margin: 1rem 2vw 1rem 0rem;
    font-weight: 600;
    font-size: 14px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar{
    background-color: white;
    border-radius: 6px;
    /* background-color:#eeeeee; */
    border: 1.2px solid #eee;
}

.search-bar img {
    margin: 0px 2px 1px 8px;
}

.search-bar input {
    
    border: 0px;
    color: #808080;
    width: 35vw;
    height: 2.4rem;
    padding: 0px 0.3rem; 
    border-radius: 6px;
    background-color:#eeeeee00;
}

#logo{
    width: 13rem;
}

#signupBtn {
    margin: 0px 1.2rem;
}

#user-icon {
    width: 12px;
    height: fit-content;
    margin: 0px 3px;
}

#cart-icon {
    width: 15px;
    height: fit-content;
    margin: 0px 6px;
}

.menu-box {
    display: none;
}

#floating-nav{
    display: none;
}

/* home page main class */
.main-home {
    background-color: transparent;
}

/* banners styles */
.main-home section {
    margin: 0vh 3vw;
    /* display: flex;
    overflow: scroll; */
}

.main-home section img {
    width: 93vw;
    height: 75vh;
    object-fit: cover;
    object-position: 0rem -7.2rem;
}

/* offers styles */
.main-home offer {
    margin: 0vh 3vw 8vh 3vw;

}

#offer-h4 hr {
    width: 16vw;
    height: 1;
    background-color: #808080;
}

#offer-h4 {
    /* margin-left: 3vw; */
    margin: 2rem 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-home offer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.main-home offer img {
    width: 45vw;
    height: 39vh;
    object-fit: fill;
}

/* media queries */

@media (width > 820){
    
    
}

@media (width <= 820px) {
    body{
        background-color: floralwhite;
    }

    .search-bar input {
        width: 15vw
    }

    .menu-box {
        display: none;
    }
}

@media (width < 600px) {
    body{
        background-color: #f9efef;
    }

    .top-line {
        display: none;
    }

    .nav-Bottom {
        display: none;
    }

    .menu-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 1.6rem;
    }
    
    .menu-box img {
        width: 10rem;
    }

    
    #menu {
        background-color: transparent;
        border: 0px;
        font-size: large;
        font-weight: bold;
        display: flex;
        padding: 0.4rem 0.6rem;
        align-items: center;
    }
    
    #menu img{
        width: 24px
    }
    
    #floating-nav {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 5rem;
        background-color: #e8d8d8e8;
        padding: 1rem 2rem;
    }

    .categories  {
        display: flex;
        flex-direction: column;
        font-size: medium;
        line-height: 1.6rem;
    }

    .categories h4{
        margin-bottom: 0.4rem;
    }

    #signup{
        margin-top: 1rem
    }
    


}

/* footer styles */

.belleza-footer {
    background-color: #f8f8f8;
    padding: 40px 4rem 14px 4rem;
    font-family: 'Arial', sans-serif;
    color: #555;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.footer-section {
    flex: 1 1 22%;
    margin: 10px;
    margin-top: -20px;
    margin-left: 16px;
    text-align: center;
}
  
.footer-section h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    /* text-align: left; */
}
  
.footer-section ul {
    list-style: none;
    padding: 0;
    /* text-align: left; */
}
  
.footer-section ul li {
    margin-bottom: 8px;
}
  
.footer-section ul li a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s;
}
  
.footer-section ul li a:hover {
    color: #ce6898;
}
  
.social-icons a {
    margin-right: 10px;
    display: inline-block;
}
  
.social-icons img {
    width: 24px;
    height: 24px;
}
  
.footer-bottom {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 12px;
    font-size: 14px;
    color: #777;
}
  